/* Botones y componentes */
.cta-buttons {
    margin-top: 40px;
}

.cta-buttons .btn {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin: 10px;
    border-radius: var(--btn-radius);
    transition: background-color 0.3s ease;
}

.cta-buttons .btn:hover {
    background-color: #0056b3;
}

.hand-wave {
    margin-left: 10px; /* Ajustar la mano más cerca del nombre */
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave-animation 1.5s infinite;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
