/* Tipografías y texto */
.hero-content h1 {
    font-size: 3rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    white-space: nowrap; /* Para asegurarse de que el texto y la mano no se dividan en diferentes líneas */
}

.hero-content p {
    margin-top: 20px;
    font-size: 1.25rem;
    color: var(--light-text-color);
    line-height: 1.8;
    text-align: justify;
}

footer p {
    font-size: 0.875rem;
    color: var(--light-text-color);
}
